body {
    background-color: #FFF4E0;
    margin: 20px;
}
.navbaroptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}
.about {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #101ECB;
}
.portfolios {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #101ECB;
}
.contact {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #101ECB;
}
.resume {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #101ECB;
}
.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #101ECB;
    text-align: center;
}
@media screen and (min-width: 1201px) {
    .logo {
      font-size: 40px;
    } }
@media screen and (max-width: 1200px) {
       .logo {
          font-size: 30px;
        } }
@media screen and (max-width: 1200px) {
            .about, .portfolios, .contact, .resume {
               font-size: 20px;
             } }
@media screen and (min-width: 1201px) {
            .about, .portfolios, .contact, .resume {
                  font-size: 24px;
                } }

.fccHouse {
    width: 300px;
    height: 326.26px;
}
.fccLogo {
    width: 160px;
    height: 160px;
}
.fccContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 4px;
    border-style: solid;
    border-color: #101ECB;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    width: 309px;
    height: 279px;
}
.wegigContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 4px;
    border-style: solid;
    border-color: #101ECB;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    width: 309px;
    height: 279px;
}
.airportalContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 4px;
    border-style: solid;
    border-color: #101ECB;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    width: 309px;
    height: 279px;
}
.buhiContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 4px;
    border-style: solid;
    border-color: #101ECB;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    width: 309px;
    height: 279px;
}
.wegiglogo {
    width: 149px;
    height: 131.58px;
}
.wegigHouse {
    width: 300px;
    height: 261.2px;
}
a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #101ECB;
}
.viewProject {
    background-color: #101ECB;
    color: #FFF4E0;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    border-radius: 10px;
    width: 273px;
    height: 57px;
}
.airportalHouse {
    width: 300px;
    height: 260px;
}
.airportalLogo {
    width: 162px;
    height: 194px;
}
.buhiHouse {
    width: 300px;
    height: 362.39px;
}
.buhiLogo {
    width: 175px;
    height: 94.97px;
}
.projectView {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}
.recent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    letter-spacing: 10px;
    color: #101ECB;
    padding-top: 15px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #101ECB;
    font-size: 120px;
    padding-bottom: 0;
    letter-spacing: -3px;
}
@media screen and (min-width: 1201px) {
    h1 {
      font-size: 120px;
      padding-left: 90px;
    } }
@media screen and (max-width: 1200px) {
       h1 {
          font-size: 100px;
          padding-left: 80px;
        } }
pre {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #101ECB;
    padding-left: 50px;
    font-size: 60px;
    letter-spacing: -3px;
    white-space: pre-wrap;
    word-break: keep-all;
}
@media screen and (min-width: 1201px) {
    pre {
      font-size: 60px;
    } }
@media screen and (max-width: 1200px) {
       pre {
          font-size: 40px;
        } }
hr {
    border-top: 5px solid #101ECB;
    margin: 20px;
}
.logo2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #101ECB;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
}
.email {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #101ECB;
    font-size: 40px; 
}
.linkedin {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #101ECB;
    font-size: 40px; 
}
.resume2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #101ECB;
    font-size: 40px;
}
.footerInfo {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
.footerInfo li {
    padding-right: 175px;
    margin-left: 10px;
    display: flex;
}
.flex-container {
    position: sticky;
    top: 0;
}
